.promo {
    width: 100%;
    min-height: 25%;
    max-height: 25%;
    border: 1px solid black;
}
.col-pd0{
    padding-left: 0px;
    padding-right: 0px;
}

.row-custom{
    margin: 0px;
}

/*.ml-10{
    margin-left: 10;
}

.m-0{
    margin: 0px;
}

.pd-0{
    padding-left: 0px;
}

.header-line{
    height: 60px;
}

.header-line-search{
    height: 100%;
    margin-left: 10px;
}

.header-line label{
    margin-bottom: 0px;
}

.jcc {
    justify-content: center;
    align-items: center;
}

.dfr{
    display: flex;
    flex-direction: row;
}

.dfc {
    display: flex;
    flex-direction: column;
}

.wd100{
    width: 100%;
}

.he100{
    height: 100%;
}

.pdtb10{
    padding-top: 5px;
    padding-bottom: 5px;
}*/